{{!< default}}

{{> "site-header"}}
{{#post}}
<section class="container">
  <section class="row">
    <section class="col-md-9">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title"><h2>{{title}}</h2>
                <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></p>
                {{tags prefix="on " separator=" | "}}</h3>
            </header>
            <div class="panel-body" id="text-content">
                {{content}}
            </div>
            <footer class="panel-footing">
                <section class="share">
                    <h4>Share this post</h4>

                    <a class="fa fa-twitter-square fa-2x" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="hidden">Twitter</span>
                    </a>
                    <a class="fa fa-facebook-square fa-2x" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="hidden">Facebook</span>
                    </a>
                    <a class="fa fa-google-plus-square fa-2x" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="hidden">Google+</span>
                    </a>
                </section>
            </footer>

        </div>
    </section>
    <aside class="col-md-3">
        <div class="panel panel-default panel-post">
            <header class="panel-heading">
                    <h3 class="panel-title">{{author.name}}</h3>
            </header>
            {{#if author.image}}
            <div class="panel-body panel-body-profile" style="background-image: url('{{author.image}}')"></div>
            {{else}}
            <!-- <img src="{{asset "images/user-small-icon.png"}}"> -->
            <div class="panel-body panel-body-profile" >
                <i class="fa fa-user" style="font-size: 10em;"></i>
            </div>
            {{/if}}
            {{#if author.bio}}
            <footer class="panel-footer">{{author.bio}}</footer>
            {{/if}}
        </div>
    </aside>
  </section>
</section>
{{/post}}
