{{! The site header }}
 <!-- Navigation -->
    <!-- <nav class="navbar navbar-default navbar-custom navbar-fixed-top"> -->


    <nav class="navbar navbar-inverse navbar-fixed-top headroom" id="menubar-viosoft">
        <section class="container">
            <section class="row">
                <div class="col-lg-12 container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span>Menu</span>
                        </button>


                        <a class="navbar-brand" href="{{@blog.url}}">
                            <i class="glyphicon glyphicon-home w3-spin w3-jumbo">                                
                            </i>     
                        </a>  
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {{navigation}}
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->

            </section>
        </section>
    </nav>

    <script type="text/javascript" src="{{asset "js/headroom.js"}}"></script> 
    <script type="text/javascript">
        // grab an element
        var myElement = document.querySelector("#menubar-viosoft");
        // construct an instance of Headroom, passing the element
        var headroom  = new Headroom(myElement);
        // initialise
        headroom.init(); 

        
        $(document).ready(function (){
            var url = window.location.pathname;

            $("#bs-example-navbar-collapse-1 ul li a").each(function(){
                if( this.pathname === url){    
                    $(this).addClass('isActived');
                }
            });
        });


    </script>

    

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!-- {{#if post.image}}
    <header class="intro-header" style="background-image: url('{{post.image}}');">
{{else}}

{{#if @blog.cover}}
    <header class="intro-header" style="background-image: url('{{@blog.cover}}');">
{{else}}
    <header class="intro-header">
{{/if}}
{{/if}} -->

    <header class="banner-header" >
        <section class="container">
            <section class="row">
                <!-- <section class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->

                <section class="col-md-12">
                    
                    <img class="banner" src="{{@blog.cover}}" />

                    <!-- <section class="site-heading">                        
                        {{#if @blog.logo}}
                        <div class="img-logo-container">
                            <a href="{{@blog.url}}">
                                <img src="{{@blog.logo}}" alt="Logo" class="img-responsive img-logo"/> 
                            </a>
                        </div>
                        {{/if}}
                        <h1>{{@blog.title}}</h1>
                        <span class="subheading">{{@blog.description}}</span>
                    </section> -->
                </section>
            </section>
        </section>

    </header>

